@model MVCSiteReviewProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h2>Card</h2>

<div class="cardOne">


    <img src="~/MVCImages/Apple1.jpg" alt="Avatar" style="width:100%">
    <div class="containerOne">
        <h4><b>Lorem ipsum.</b></h4>
        <p>Lorem ipsum dolor sit amet, cu copiosae splendide reprehendunt sit. Vis cu habemus corpora, commodo accusamus accommodare eos te. Ad vix wisi summo ubique, n</p>
    </div>
    </div>
    <div class="cardTwo">

        <img src="~/MVCImages/Apple2.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Lorem ipsum.</b></h4>
            <p>Lorem ipsum dolor sit amet, cu copiosae splendide reprehendunt sit. Vis cu habemus corpora, commodo accusamus accommodare eos te. Ad vix wisi summo ubique, n</p>
        </div>
        </div>

    <div class="cardThree">
        <img src="~/MVCImages/Apple3.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Lorem ipsum.</b></h4>
            <p>Lorem ipsum dolor sit amet, cu copiosae splendide reprehendunt sit. Vis cu habemus corpora, commodo accusamus accommodare eos te. Ad vix wisi summo ubique, n</p>
        </div>
        </div>

    <div class="cardFour">
        <img src="~/MVCImages/Apple4.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Lorem ipsum.</b></h4>
            <p>Lorem ipsum dolor sit amet, cu copiosae splendide reprehendunt sit. Vis cu habemus corpora, commodo accusamus accommodare eos te. Ad vix wisi summo ubique, n</p>
        </div>
        </div>

    <div class="cardFive">
        <img src="~/MVCImages/Apple5.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>Lorem ipsum.</b></h4>
            <p>Lorem ipsum dolor sit amet, cu copiosae splendide reprehendunt sit. Vis cu habemus corpora, commodo accusamus accommodare eos te. Ad vix wisi summo ubique, n</p>
        </div>
        </div>





    

@*<div>
        <h4>Review</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewDate)
            </dd>

        </dl>
    </div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
