@model IEnumerable<MVCSiteReviewProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*switching tables to divs*@
<div class="container">

    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.Category.Name)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.Content)
        </div>

        <div class="col">
            @Html.DisplayNameFor(model => model.ReviewDate)
        </div>

        <div class="col">

        </div>
    </div>



    @foreach (var item in Model)
    { <div class="row">
        <div class="col">
            @Html.DisplayFor(modelItem => item.Category.Name)
        </div>

        <div class="col">
            @Html.DisplayFor(modelItem => item.ReviewTitle)
        </div>

        <div class="col">
            @Html.DisplayFor(modelItem => item.Content)
        </div>

        <div class="col">
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </div>

        <div class="col">
            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
        </div>

       </div>


     }
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
                    </td>
                </tr>
            }

        </table>*@
